{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  'search-content',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{attributes.addClass(classes)}}>

	{% block content %}
		{# {{ kint(content) }} #}
		<div class="search-content__wrapper">
			<div class="search-content__image">
				{{ content.field_image }}
				<div class="search-content__info">
					<div class="search-content__datetime">
						<div class="search-content__icon">
							<i class="fa fa-calendar"></i>
						</div>
						<div class="search-content__date">
							{{ content.created.value|date('d-M') }}
						</div>
					</div>
					<div class="search-content__user">
						<div class="search-content__icon">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="search-content__icon-name">
							{{ user.displayname }}
						</div>
					</div>
				</div>

			</div>

			<div class="search-content__features">

				{%- for item in content.field_features|field_value -%}
					{%- if loop.first -%}
						{{ item}}{{ ", " }}
					{%- elseif loop.last -%}
						{{ item }}
					{% endif %}
				{%- endfor -%}
			</div>

			<div class="search-content__title">{{ content.title }}</div>
			<div class="search-content__address">{{ content.field_address }}</div>

			<div class="search-content__vector">
				<div class="search-content__icon">
					<i class="fa fa-square" aria-hidden="true"></i>
				</div>

				<div class="search-content__value">{{ content.field_bedrooms|field_value }}</div>
			</div>

			<div class="search-content__bathrooms">
				<div class="search-content__icon">
					<i class="fa fa-shower" aria-hidden="true"></i>
				</div>
				<div class="search-content__value">{{ content.field_bathrooms|field_value }}</div>

			</div>

			<div class="search-content__bedrooms">
				<div class="search-content__icon">
					<i class="fa fa-bed" aria-hidden="true"></i>
				</div>

				<div class="search-content__value">{{ content.field_bedrooms|field_value }}</div>

			</div>

			<div class="search-content__garaje">
				<div class="search-content__icon">
					<i class="fa fa-car" aria-hidden="true"></i>
				</div>

				<div class="search-content__value">{{ content.field_bedrooms|field_value }}</div>

			</div>

			<div class="search-content__sale">
				Sale
			</div>
			<div class="search-content__price">
				{{ content.field_price|field_value }}
			</div>
		{% endblock %}
	</article>
