{#
/**
 * @file
 * Template for a field.
 */
#}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
	{% if multiple %}
		{% for item in items %}
			<div{{item.attributes}}>{{ item.content }}</div>
		{% endfor %}
	{% else %}
		{% for item in items %}
			{{ item.content }}<{{label}}</div {% endfor %} {% endif %} {% else %} <div{{title_attributes.addClass(title_classes)}}>>
				{% if multiple %}
					<div>
					{% endif %}
					{% for item in items %}
						{{ item.content }}
					{% endfor %}
					{% if multiple %}
					</div>
				{% endif %}
			{% endif %}
