{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">

  <header class="header">
    <div class="header-wapper">
      <div class="container">
        <div class="row">
          {% if page.header_pre_left %}
            <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center order-2 order-lg-1">
              {{ page.header_pre_left }}
            </div>
          {% endif %}


          {% if page.header_pre_right %}
            <div class="col-12 col-lg-7 order-1 order-lg-2">
              <div class="row">
                <div class="col-12">
                  {{ page.language }}
                </div>
              </div>
              <div class="row">
                <div class="header-social-wrapper col-12 text-secondary">
                  {{ page.header_pre_right }}
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    {% if page.header_top %}
      <div class="header-top">
        <div class="container my-4">
          <div class="header-top-wrapper">
            <div class="row justify-content-between align-items-center">
              {{ page.header_top }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </header>

  <div class="container">
    {% embed '@metroxmetro/offcanvas/navbar.twig' with {
			placement: 'sticky-top',
			container: 'fluid',
  		} %}

      {% block navbar %}
        {% if page.menu %}
          {{ page.menu }}
        {% endif %}
      {% endblock %}

      {% block offcanvas %}
        {% if page.offcanvas %}
          {{ page.offcanvas }}
        {% endif %}
      {% endblock %}
    {% endembed %}

  </div>


  <a id="main-content" tabindex="-1"></a>
  {# link is in html.html.twig #}

  {% if page.content %}
    <main class="content">
      <div class="content-wrapper">
        <div class="container-fluid">
          {{ page.content }}
        </div>
      </div>
    </main>
  {% endif %}


  {% if page.footer %}
    <footer class="footer">
      <div class="container my-3">
        <div class="footer-wrapper">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
