{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">


	<header class="header">
		<div class="header-wrapper">

			<div class="header-top">
				{% if page.header_top_left %}
					<div class="header-left">
						{{ page.header_top_left }}
					{% endif %}
				</div>
				<div class="header-right">
					{% if page.header_top_right %}
						{{ page.header_top_right }}
					{% endif %}
				</div>
			</div>

			<div class="header-bottom">
				{{ page.header_bottom }}
			</div>

		</div>
	</header>


	{% embed '@metroxmetro/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

		{% block branding %}
			{% if page.navbar_branding %}
				{{ page.navbar_branding }}
			{% endif %}
		{% endblock %}

		{% block navbar %}
			{% if page.navbar %}
				<div class="mr-auto">
					{{ page.navbar }}
				</div>
			{% endif %}
		{% endblock %}

	{% endembed %}

	<main class="main">
		<a id="main-content" tabindex="-1"></a>
		{# link is in html.html.twig #}
		{% if page.content %}
			<div class="container main-wrapper">
				{{ page.content }}
			</div>
		{% endif %}
	</main>

	{% if page.footer %}
		<footer class="footer">
			<div class="container footer-wrapper">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
</div>
